html, body {
	height: 100%;
}
body{
	background-image: URL("img/bg2.JPG");
}
h1{
	margin: 30%;
	padding: :25%;

}
.jumbotron{

	height: 100%;
}


.thumbnail{
	margin: 25px 0px;
	height:300px;

}
.fontsize1 {
  font-size: max(1.5vmax,12px);

}
.fontsize2 {
  font-size: 4vmin;
}

.image.fit
{   margin:25px;
    display: block;
    max-width:80%;

    
}
h1.center{
	text-align: center;
}
p.center{
	text-align: center;
}
ul.right{
	position: absolute;
	right: 0px;
}

img.h:hover{
    opacity:1.0;
}
button.right{
	position:absolute;
	right:0px;
	bottom:5px;

}
/*.fontsize1{
	font-size: 1.0vw;
}*/
.row{
	overflow:auto;
}

.panel{
	/*margin: 25px 0px;*/
	position: relative;
	height:92px;
	/*min-height: 85px*/
	/*width:100%;*/
}


#projects{
	margin-top: 10%;
}
.wallstyle1{
	
	background: AliceBlue;

	padding: 25px;
	width:100%;
	margin:0px 0px;
}
.wallstyle2 {
	overflow:auto !important;  
	
	width:100%;
	padding: 25px;
}
